{% macro sidebar_link(href="#", icon=None, text="", is_active=False) %}
<a href="{{ href }}"
   class="flex items-center rounded-md {% if icon %}gap-2{% endif %} px-3 py-2 text-sm font-medium transition-all duration-200
          {% if is_active %}
            bg-red-50 text-red-600 shadow-sm font-semibold
          {% else %}
            text-slate-600 hover:bg-red-50 hover:text-red-600
          {% endif %}
          focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
    {% if icon %}{{ icon | safe }}{% endif %}
    <span>{{ text }}</span>
</a>
{% endmacro %}

{% macro sidebar_sublink(href="#", icon=None, text="", is_active=False) %}
<li class="px-1 py-0.5 first:mt-2">
    <a href="{{ href }}"
       class="flex items-center rounded-md {% if icon %}gap-2{% endif %} px-3 py-2 text-sm transition-all duration-200
              {% if is_active %}
                bg-red-50 text-red-600 shadow-sm font-semibold
              {% else %}
                text-slate-500 hover:bg-red-50 hover:text-red-600
              {% endif %}
              focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
        {% if icon %}{{ icon | safe }}{% endif %}
        <span>{{ text }}</span>
    </a>
</li>
{% endmacro %}
