{% macro submenu(id, title, icon=None) %}
<div x-data="{ isExpanded: false }" class="flex flex-col">
    <button type="button" 
            x-on:click="isExpanded = ! isExpanded" 
            id="{{ id }}-btn" 
            aria-controls="{{ id }}" 
            x-bind:aria-expanded="isExpanded ? 'true' : 'false'" 
            class="flex items-center justify-between rounded-sm gap-2 px-2 py-1.5 text-sm font-medium underline-offset-2 focus:outline-hidden focus-visible:underline" 
            x-bind:class="isExpanded ? 'text-neutral-900 bg-sky-700/10' :  'text-neutral-600 hover:bg-sky-700/5 hover:text-neutral-900'">
        {% if icon %}
        {{ icon | safe }}
        {% endif %}
        <span class="mr-auto text-left">{{ title }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 transition-transform rotate-0 shrink-0" x-bind:class="isExpanded ? 'rotate-180' : 'rotate-0'" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/>
        </svg>
    </button>

    <ul x-cloak x-collapse x-show="isExpanded" aria-labelledby="{{ id }}-btn" id="{{ id }}">
        {{ caller() }}
    </ul>
</div>
{% endmacro %}
