{% macro submenu(id, title, icon=None) %}
<div x-data="{ isExpanded: false }" class="flex flex-col">
    <button type="button" 
            x-on:click="isExpanded = ! isExpanded" 
            id="{{ id }}-btn" 
            aria-controls="{{ id }}" 
            x-bind:aria-expanded="isExpanded ? 'true' : 'false'" 
            class="flex items-center justify-between rounded-sm gap-2 px-2 py-1.5 text-sm font-medium underline-offset-2 focus:outline-hidden focus-visible:underline" 
            x-bind:class="isExpanded ? 'text-neutral-900 bg-sky-700/10' :  'text-neutral-600 hover:bg-sky-700/5 hover:text-neutral-900'">
        {% if icon %}
        {{ icon | safe }}
        {% endif %}
        <span class="mr-auto text-left">{{ title }}</span>
        <i class="fa-solid fa-chevron-down  transition-transform shrink-0" x-bind:class="isExpanded ? 'rotate-180' : 'rotate-0'" aria-hidden="true"></i>
    </button>

    <ul x-cloak x-collapse x-show="isExpanded" aria-labelledby="{{ id }}-btn" id="{{ id }}">
        {{ caller() }}
    </ul>
</div>
{% endmacro %}
